*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    text-align: center;
}

/*text header  */
.c{
    
    background-color: rgb(255, 255, 255);
    float: right;
    padding-right:50px ;
    
    padding-top: 45px;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
.c a{
    text-decoration: none;
    margin-left: 80px;
    padding: 20px;
    font-family: 'Heebo', sans-serif;
    color: rgb(7, 6, 6)
}
.c a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*text header then   */

/*img header  */
.a {
    text-align: left;
}
.a img{
    width: 120px;
    height: 120px;
    margin: 10px;
}

/*img header  then*/


/*img article  */
article{
    margin-top: 200px;
}
.img-article{
text-align: center;
}
.img-b {
width: 400px;
height: 400px;
margin: 20px;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: rgb(245, 245, 245);
}
/*img article then   */
aside{
    text-align: center;
}
.fater{
    display: inline-flexbox;
    background-attachment: fixed;
    margin: 200px ;
    background-size: 100% 100%;
    background-image: url(https://images.pexels.com/photos/4210860/pexels-photo-4210860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding-bottom: 100px;
}

.fater h1 {
    margin-top: 100px;
    display: inline-flex;
    background-color: blanchedalmond;
    margin: 50px;
    padding: 10px;
    
}
.fater h3{
    margin:800px;
    display: inline-flex;
    background-color: blanchedalmond;
    margin: 100px;
    padding: 10px;
    
}