*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

header{
    position: fixed;
    top:0;
    width: 100% ;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    text-align: center;
}

/*text header  */
.c{
    
    background-color: rgb(255, 255, 255);
    float: right;
    padding-right:50px ;
    
    padding-top: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
.c a{
    text-decoration: none;
    margin-left: 60px;
    padding: 20px;
    font-family: 'Heebo', sans-serif;
    color: rgb(7, 6, 6)
}
.c a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*text header then   */

/*img header  */
.a {
    text-align: left;
}
.a img{
    width: 180px;
    height: 80px;
    margin: 0px;
}

/*img header  then*/


/*img article  */
article{
    margin-top: 200px;
}
.img-article{
text-align: center;
}
.img-b {
width: 400px;
height: 400px;
margin: 20px;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: rgb(245, 245, 245);
}
/*img article then   */
aside{
    text-align: center;
}
.fater{
    display: inline-flexbox;
    background-attachment: fixed;
    margin: 200px ;
    background-size: 100% 100%;
    background-image: url(https://images.pexels.com/photos/4210860/pexels-photo-4210860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding-bottom: 100px;
}

.fater h1 {
    margin-top: 100px;
    display: inline-block;
    background-color: blanchedalmond;
    margin: 50px;
    padding: 10px;
    
}
.fater h3{
    margin:800px;
    display: inline-block;
    background-color: blanchedalmond;
    margin: 100px;
    padding: 10px;
    
}
.cont{
   
text-align: center;
margin: 100px;
margin-top: 300px;
margin-bottom: 200px;
}
/*logo link*/

.q{
    display: inline-block;
    background-image: url(https://images.pexels.com/photos/3865906/pexels-photo-3865906.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.w{
    display: inline-block;
    background-image: url(https://images.pexels.com/photos/6535368/pexels-photo-6535368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    margin: 20px;
}
.e{
    display: inline-block;
    background-image: url(https://images.pexels.com/photos/179909/pexels-photo-179909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    margin: 20px;
}
.r{
    
    display: inline-block;
    background-image: url(https://images.pexels.com/photos/1700956/pexels-photo-1700956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    width: 400px;
height: 400px;
margin: 20px;
    background-size: 100% 100%;
}
.cont a{
    text-decoration: none;
   
    font-size: 100px;
    font-family: 'Heebo', sans-serif;
    color: rgb(255, 122, 122);
    font-weight:700;
    padding-bottom: 20px;
    padding-top: 150px;
   
}
.cont a:hover{
    background-color:rgb(7, 7, 7); filter:alpha(opacity=500); opacity:.6;
   
}
/*finde aside */

/*inico de box-max */
.box-max{
    
   background-image: url(https://images.pexels.com/photos/2292953/pexels-photo-2292953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
    margin:100px 300px ;
    padding-bottom: 200px;
}
.box-max h3 {
    font-size: 25px;
    color: rgb(11, 11, 12);
    padding: 30px 30px 50px 30px;
    font-family: 'Heebo', sans-serif;
    font-weight:700;
}

.box-max h1 {
    font-size: 50px;
    color: rgb(15, 15, 15);
    padding: 50px 30px 2px 30px;
}

.box-ver a{
    color:rgb(255, 255, 255) ;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 30px;
    margin-top: 60px;
    background-color: rgb(11, 11, 12);
    font-size: 20px;
}
.box-max a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 12);
}
/*fin de box-max */



/*inico de footer */
footer{
    display: inline-block;
    position: relative;
    top:0;
    width: 100% ;
    height: 190px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    text-align: CENTER;
    margin-top: 200px;
 
}

.footer-dl{
    display:inline-block;
    margin: 0px 50px 10px 50px;
   
}

.title-footer{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight:700;
   
}
.img-footer{
    display: inline-flexbox;
   
    margin-top: 0px;
    padding-top: 30px;
    height: 100px;
    width: 180px;
    
}
.icon-footer{
    margin: 20px 5px 20px 5px;
    width: 40px;
    height: 40px;
    
}
.sub-footer{
    margin-top: 10px;
    
}


.menu-cel{
    text-align: center;
    padding: 50px;
    background-color: violet;
    display: none;
}




/*medida de precision de 600px*/
@media only screen and (max-width: 600px){
header{
    display: none;
}

}



/*medida de precision de 600px*/
@media only screen and (min-width: 600px){

    
}
/*fin de footer 
NEW CODE */
